/*++++ NAVBAR RESPONSIVENESS++++++ */
/* NAVBAR LARGE <= 1440px */
@media (max-width: 1440px) {
    .navbar2{
        padding: 20px 80px;
    }

    .nav-mid-content li{
        font-size: 18px;
    }

    .navbar2 .nav-container .nav-logo img {
        width: 60px;
        height: 40px;
    }

    .navbar2 .nav-contactus-btn{
        font-size: 18px;
        padding: 14px 16px;
    }
}



/* NAVBAR LARGE <= 1240px */
@media (max-width: 1240px) {
    .navbar2 {
        padding: 18px 60px;
        align-items: center;
    }

    .nav-mid-content li{
        font-size: 17px;
    }

    .navbar2 .nav-container .nav-logo img {
        width: 50px;
        height: 30px;
    }

    .navbar2 .nav-contactus-btn{
        font-size: 17px;
        padding: 12px 14px;
    }

}


/* NAVBAR TABLET <= 992PX */
@media (max-width: 992px) {

    .navbar2 {
        position: relative;
        z-index: 1000;

        padding: 10px 50px;
        max-height: 60px;

        justify-content: center;
        align-items: center;
    }

    .nav-container {
        position: relative;
        /* padding: 0px; */

        align-items: center;
    }

    .navbar2 .nav-container .nav-logo img {
        width: 60px;
        height: 40px;
    }

    /* SHOW HAMBURGER */
    .hamburger {
        display: flex;
    }

    /* HIDE MENU */
    .nav-mid-content {
        position: fixed;
        /*  important */
        top: 0;
        right: -100%;
        /* 👈 screen ke bahar hide */

        /* min-height: 100vh; */
        /* min-height: 70vh; */
        width: 260px;

        background: white;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding-top: 70px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;

        /* padding: 70px 20px; */
        gap: 12px;

        transition: right 0.4s ease;
        /* 🔥 animation */
        z-index: 1003;
    }

    /* ACTIVE MENU */
    .nav-mid-content.active {
        right: 0;
        /* 👈 slide inside */
    }

    /* HIDE BUTTON  */
    .desktop-btn {
        display: none;
    }

    .mobile-contact {
        display: block;
        /* show inside menu */
        align-items: center;
    }

    .mobile-contact button {
        width: 100%;
        /* margin-top: 10px; */
    }


    .nav-mid-content li {
        font-size: 16px;
    }
}


/* NAV SIDEBAR MOBILE <= 768PX */
@media (max-width: 768px) {

    .navbar2{
        padding: 10px 40px;
    }


    .navbar2 .nav-container .nav-logo img {
        width: 40px;
        height: 30px;
    }

    .nav-mid-content li {
        font-size: 16px;
    }

    .nav-contactus-btn {
        font-size: 16px;
        padding: 14px 18px;
    }

    .nav-mid-content {
        gap: 10px;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;

        /* padding: 40px 20px; */
        justify-content: flex-start;

    }
}

/* NAV SIDEBAR SMALL MOBILE <= 480PX */
@media (max-width: 480px) {

      .navbar2{
        padding: 10px 30px;
    }

    .nav-mid-content li {
        font-size: 15px;
        justify-content: flex-start;

    }

    .nav-contactus-btn {
        font-size: 12px;
        padding: 12px 16px;
    }
}




/*++++++++++ Carousel Responsive  +++++++++++ */
/* CAROUSEL LARGE<= 1440 */
@media (max-width:1440px) {

    .carousel-context-box {
        gap: 20px;
    }

    .carousel-context-box h2 {
        font-size: 45px;
    }

    .carousel-context-box p {
        font-size: 20px;
    }

    .carousel-counter{
        font-size: 19px;
    }

    .carousel-control-prev-icon{
        width: 17px;
        height: 17px;
    }
    .carousel-control-next-icon{
        width: 17px;
        height: 17px;
    }
}

/* CAROUSEL Laptop <= 1260 */
@media (max-width:1260px) {

    .carousel-context-box {
        gap: 15px;
    }

    .carousel-context-box h2 {
        font-size: 38px;
    }

    .carousel-context-box p {
        font-size: 18px;
    }

    .carousel-counter{
        font-size: 18px;
    }

    .carousel-control-prev-icon{
        width: 16px;
        height: 16px;
    }
    .carousel-control-next-icon{
        width: 16px;
        height: 16px;
    }
}

/* CAROUSEL TABLET <= 992px */
@media (max-width: 992px) {

    .slide .carousel-inner .carousel-item video {
        height: 70vh;
    }

    .carousel-context-box h2 {
        font-size: 32px;
    }

    .carousel-context-box p {
        font-size: 17px;
    }

    .carousel-context-box {
        gap: 0px;
    }

    .carousel-context-box button {
        padding: 9px 9px;
        font-size: 15px;
    }

    .carousel-buttons-wrapper {
        left: 80%;
        top: 88%;
    }

    .carousel-counter {
        top: 88%;
        left: 5%;
    }

    .carousel-counter{
        font-size: 17px;
    }

    .carousel-control-prev-icon{
        width: 15px;
        height: 15px;
    }
    .carousel-control-next-icon{
        width: 15px;
        height: 15px;
    }
}



/*CAROUSEL MOBILE <= 768px */
@media (max-width: 768px) {

    .slide .carousel-inner .carousel-item video {
        height: 60vh;
    }

    .carousel-context-box {
        padding: 0 15px;
        /* gap: 15px; */
    }

    .carousel-context-box h2 {
        font-size: 26px;
        line-height: 120%;
    }

    .carousel-context-box p {
        font-size: 16px;
    }

    .carousel-context-box button {
        font-size: 16px;
        padding: 8px 12px;
    }

    .carousel-buttons-wrapper {
        left: 75%;
        top: 80%;
    }

    .carousel-counter {
        font-size: 16px;
        top: 80%;
        left: 5%;
    }
}



/* CAROUSEL SMALL MOBILE <= 480px */
@media (max-width: 480px) {

    .slide .carousel-inner .carousel-item video {
        height: 55vh;
    }

    .carousel-context-box h2 {
        font-size: 22px;
    }

    .carousel-context-box p {
        font-size: 14px;
    }

    .carousel-context-box button {
        font-size: 10px;
        max-width: 140px;
    }

    .carousel-buttons-wrapper {
        left: 70%;
        top: 82%;
    }

    .carousel-counter {
        font-size: 14px;
        top: 82%;
    }
}








/*++++++++++++ REVOUTIONARY RESPONSIVENESS++++++++++ */

/* REVOLUTIONARY LARGE SCREEN <= 1440px */
@media (max-width: 1440px) {

    .revolutionary-laser {
        padding: 40px 80px;
        gap: 40px;
    }

    .revolutionary-button-wrapper {
        /* flex-direction: column; */
        gap: 20px;
    }


    .revolutionary-learnmorebtn {
        padding: 14px 20px;
        max-width: 160px;

    }

    .revolutionary-contactusbtn {
        padding: 14px 20px;
        max-width: 140px;
        white-space: nowrap;
        /* width: 100%; */
    }

    .revolutionary-laser-right {
        gap: 20px;
    }

    .revolutionary-laser-left h1 {
        font-size: 48px;
    }

    .revolutionary-laser-right p {
        font-size: 20px;
    }

    .revolutionary-laser img {
        margin-top: 0px;
    }

}



/* REVOLUTIONARY LARGE SCREEN <= 1240px */
@media (max-width: 1240px) {

    .revolutionary-laser {
        padding: 30px 60px;
        gap: 30px;
    }


    .revolutionary-laser-left h1 {
        font-size: 40px;
    }

    .revolutionary-laser-right p {
        font-size: 18px;
    }

    .revolutionary-laser img {
        margin-top: 0px;
    }
}




/* REVOLUTIONARY Tablet (≤ 992px) RESPONSIVE */
@media (max-width: 992px) {

    .revolutionary-laser {
        padding: 20px 50px;
        gap: 20px;
    }

    .revolutionary-button-wrapper .revolutionary-learnmorebtn {
        padding: 8px 18px;
        max-width: 100px;

        gap: 6px;

    }

    .revolutionary-learnmorebtn .revolutionary-learnmorebtn-text {
        font-size: 12px;
    }

    .revolutionary-button-wrapper .revolutionary-learnmorebtn img {
        width: 10px;
        height: 10px;
    }


    .revolutionary-button-wrapper .revolutionary-contactusbtn {
        padding: 8px 14px;
        max-width: 100px;
        white-space: nowrap;
        /* width: 100%; */

        font-size: 12px;

        gap: 6px;
    }

    .revolutionary-button-wrapper .revolutionary-contactusbtn img {
        width: 10px;
        height: 10px;
    }

    .top {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .revolutionary-laser-left,
    .revolutionary-laser-right {
        width: 100%;
        gap: 20px;
    }

    .revolutionary-laser-left h2 {
        font-size: 18px;
    }

    .revolutionary-laser-left h1 {
        font-size: 30px;
    }

    .revolutionary-laser-right p {
        font-size: 15px;
    }

    .revolutionary-button-wrapper {
        flex-direction: row;
        gap: 10px;
    }
}


/* REVOLUTIONARY MOBILE RESPONSIVENESS <= 768px */
@media (max-width: 768px) {

    .revolutionary-laser {
        padding: 20px 40px;
        gap: 20px;
    }

    .top {
        gap: 10px;
    }


    .revolutionary-laser-left h1 {
        font-size: 22px;
        line-height: 120%;
    }

    .revolutionary-laser-right p {
        font-size: 12px;
    }

    .revolutionary-button-wrapper {
        /* flex-direction: column; */
        width: 100%;
    }

    .revolutionary-button-wrapper button {
        width: 100%;
        justify-content: center;
    }

    .revolutionary-laser img {
        margin-top: 0px;
    }
}



/* REVOLUTIONARY SMALL MOBILE <= 480px */
@media (max-width: 480px) {

    .revolutionary-laser {
        padding: 10px 30px;
        gap: 20px;
    }
    .revolutionary-laser-left h1 {
        font-size: 18px;
    }

    .revolutionary-laser-right p {
        font-size: 12px;
    }

}
























/* Enhance your Practice with confidence RESPONSIVENESS */
/* ENHANCE RESPONSIVENESS LARGE  <=1750px */
@media (max-width: 1750px) {
    .enhance-your-outer-container {
        padding: 80px 160px;
    }

    .enhance-your-mid-mid-image {
        max-width: 600px;

        max-height: 600px;
    }
}


/* ENHANCE RESPONSIVENESS LARGE  <=1440px */
@media (max-width: 1440px) {

    .enhance-your-outer-container {
        padding: 40px 80px;
    }

    .enhance-your-top-container {
        gap: 20px;
    }

    .enhance-your-top-container h2 {
        font-size: 40px;
    }

    .enhance-your-top-container p {
        font-size: 18px;
    }

    .enhance-your-mid-container {
        gap: 20px;
    }

    .enhance-your-mid-mid-image {
        max-width: 500px;

        max-height: 500px;
    }
}




/* ENHANCE RESPONSIVENESS LARGE TABLETS <=1240px */
@media (max-width: 1240px) {

    .enhance-your-outer-container {
        padding: 30px 60px;
        gap: 35px;
    }

    .enhance-your-top-container {
        gap: 15px;
    }

    .enhance-your-mid-container {
        gap: 20px;
    }

    .enhance-your-mid-left-upper,
    .enhance-your-mid-left-bottom,
    .enhance-your-mid-right-upper,
    .enhance-your-mid-right-bottom {
        gap: 15px;
    }


    .enhance-your-mid-mid-image {
        /* max-width: 330px; */
        height: 430px;
    }

    .enhance-your-top-container h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .enhance-your-top-container p {
        font-size: 16px;
    }

    .enhance-your-mid-container h2 {
        font-size: 20px;
    }

    .enhance-your-mid-container p {
        font-size: 16px;
    }
}


/* ENAHNCE RESPONSIVENESS TABLET <= 992PX */
@media (max-width: 992px) {

    .enhance-your-outer-container {
        padding: 20px 50px;
        gap: 30px;
    }

    .enhance-your-top-container {
        gap: 10px;
        line-height: 27px;
    }

    .enhance-your-top-container h2 {
        font-size: 30px;
    }


    .enhance-your-mid-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .enhance-image-circle {
        width: 60px;
        height: 60px;
    }


    .enhance-your-mid-left,
    .enhance-your-mid-right,
    .enhance-your-mid-mid-image {
        width: 100%;
        padding: 0;
    }

    /* IMAGE CENTER */
    .enhance-your-mid-mid-image {
        order: -1;
        max-width: 450px;
        max-height: 400px;
        /* height: auto; */
    }

    /* spacing reduce */
    .enhance-your-mid-left,
    .enhance-your-mid-right {
        gap: 40px;
        align-items: center;
    }

    .enhance-your-mid-container h2 {
        font-size: 18px;

    }

    .enhance-your-mid-container p {
        font-size: 14px;
    }

    .enhance-your-bottom .enhance-your-bottom-learnmore-btn {
        padding: 10px 8px;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .enhance-your-bottom-learnmore-btn a {
        font-size: 14px;
    }

    .enhance-your-bottom .enhance-your-bottom-learnmore-btn img {
        width: 12px;
        height: 10px;
    }

    .enhance-your-bottom .enhance-your-bottom-contactus-btn {
        padding: 10px 8px;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    .enhance-your-bottom .enhance-your-bottom-contactus-btn a {
        font-size: 14px;
    }
}


/* ENHANCE RESPONSIVENESS MOBILE <= 768PX */
@media (max-width: 768px) {

    .enhance-your-outer-container {
        padding: 20px 40px;
        padding-bottom: 30px;
    }

    .enhance-your-top-container {
        gap: 10px;
    }

    .enhance-your-top-container h2 {
        font-size: 26px;
        line-height: 120%;
    }

    .enhance-your-top-container p {
        font-size: 14px;
    }

    .enhance-your-mid-mid-image {
        max-width: 300px;
        max-height: 300px;
    }

    .enhance-your-mid-container h2 {
        font-size: 17px;
    }

    .enhance-your-mid-container p {
        font-size: 13px;
    }

    .enhance-your-bottom {
        flex-direction: column;
        align-items: center;
    }

    .enhance-your-bottom>div {
        width: 100%;
        justify-content: center;
    }
}




/* ENHANCE RESPONSIVENESS SMALL MOBILE <= 440PX */
@media (max-width: 440px) {

    .enhance-your-outer-container {
        padding: 10px 30px;
    }

    .enhance-your-top-container h2 {
        font-size: 22px;
    }

    .enhance-your-top-container p {
        font-size: 13px;
    }

    .enhance-your-mid-mid-image {
        max-width: 220px;
        max-height: 220px;
    }

    .enhance-your-mid-container h2 {
        font-size: 17px;
    }

    .enhance-your-mid-container p {
        font-size: 13px;
    }
}


























/* Exploring Our Cutting-Edge laser Solutions RESPONSIVENESS */
/* EXPLORE RESPONSIVENESS LARGE <= 1200px */
@media (max-width: 1200px) {

    .explore-our-cutting-outer-container {
        gap: 30px;
        padding: 40px;
    }

    .explore-our-cutting-outer-container .explore-our-cutting-heading {
        gap: 10px;
    }

    .explore-our-cutting-heading h2 {
        font-size: 40px;
    }

    .explore-our-cutting-heading p {
        font-size: 20px;
        margin: 0px;
    }

    .explore-our-cutting-mid-items .item-box {
        /* height: 600px; */
        height: 500px;

    }

    .explore-our-cutting-mid-items .item-box .item-top-box h2 {
        font-size: 28px;
        margin: 0px;
    }

    .explore-our-cutting-mid-items .item-box .item-top-box p {
        font-size: 17px;
    }

    .item-box .item-top-box .item-learnmore-btn {
        max-width: 120px;
        padding: 10px 10px;
        gap: 8px;
    }



    .item-box .item-top-box .item-learnmore-btn a {
        font-size: 14px;
        white-space: nowrap;
    }

    .item-box .item-top-box .item-learnmore-btn img {
        width: 8px;
        height: 8px;
    }

    /* Specific size for every image in the grid of explore-our-cutting-edge */


    .explore-our-cutting-mid-items .item-1 .img-box img {
        width: 402px;
        height: 280.83px;

    }

    .explore-our-cutting-mid-items .item-2 .img-box img {
        width: 399px;
        height: 320.58px;

    }

    .explore-our-cutting-mid-items .item-3 .img-box img {
        width: 490px;
        height: 200.75px;

    }

    .explore-our-cutting-mid-items .item-4 .img-box img {
        width: 554px;
        height: 200.58px;

    }

    .explore-our-cutting-mid-items .item-5 .img-box img {
        width: 537px;
        height: 200.35px;

    }

    .explore-our-cutting-mid-items .item-6 .img-box img {
        width: 174px;
        height: 280.01px;

    }

}



/* EXPLORE RESPONSIVENESS Tablet <= 992px*/
@media (max-width: 992px) {

    .explore-our-cutting-mid-items {
        grid-template-columns: 1fr;
        /* 🔥 1 column */
    }

    .explore-our-cutting-mid-items .item-box {
        height: auto;
        /* 🔥 sabse important */
        padding: 30px 20px;
    }

    /* REMOVE ABSOLUTE */
    .item-box .item-top-box {
        position: static;
        transform: none;
        max-width: 100%;
    }

    .img-box {
        position: static !important;
        transform: none !important;

        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    /* IMAGE RESPONSIVE */
    .img-box img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    /* TEXT */
    .explore-our-cutting-mid-items .item-box .item-top-box h2 {
        font-size: 24px;
        line-height: 120%;
    }

    .explore-our-cutting-mid-items .item-box .item-top-box p {
        font-size: 16px;
        margin-bottom: 15px;
    }

}




/* EXPLORE RESPONSIVENESS MOBILE <= 768px */
@media (max-width: 768px) {

    .explore-our-cutting-outer-container {
        padding: 20px;
        gap: 15px;
    }

    .explore-our-cutting-heading h2 {
        font-size: 26px;
        line-height: 120%;
    }

    .explore-our-cutting-heading p {
        font-size: 16px;
    }

    .img-box img {
        max-width: 280px;
    }

    .explore-our-cutting-mid-items .item-box .item-top-box p {
        font-size: 14px;
    }
}


/* EXPLORE RESPONSIVENESS SMALL MOBILE <= 480PX*/
@media (max-width: 480px) {

    .explore-our-cutting-heading h2 {
        font-size: 22px;
    }

    .explore-our-cutting-heading p {
        font-size: 14px;
    }

    .img-box img {
        max-width: 220px;
    }

}





/*+++++++++++ Discover How RESPONSIVENESS +++++++++++++++ */

/* DISCOVER RESPONSIVENESS <= 1440px */
@media (max-width: 1440px) {

    .discover-how-outer-container {
        padding: 40px 80px;
    }

    .discover-how-top {
        margin-bottom: 20px;
    }

    .discover-how-top-right {
        width: 50%;
    }
}



/* DISCOVER RESPONSIVENESS <= 1240px */
@media (max-width: 1240px) {

    .discover-how-outer-container {
        padding: 30px 60px;
    }

    .discover-how-top-left h2 {
        font-size: 40px;
        line-height: 120%;
    }

    .discover-how-top-right p {
        font-size: 16px;
    }

}

/* DISCOVER RESPONSIVENESS <= 992px*/
@media (max-width: 992px) {

    .discover-how-outer-container {
        padding: 20px 50px;
    }

    .discover-how-top {
        flex-direction: column;
        /*  stack */
        gap: 20px;
        margin-bottom: 10px;
    }

    .discover-how-top-left,
    .discover-how-top-right {
        width: 100%;
    }

    .discover-how-top-left h2 {
        font-size: 32px;
    }

    .discover-how-top-right p {
        font-size: 14px;
    }

}


/* DISCOVER RESPONSIVENESS   <= 768 px*/
@media (max-width: 768px) {

    .discover-how-outer-container {
        padding: 20px 40px;
    }

    .discover-how-top {
        flex-direction: column;
    }

    .discover-how-top-left,
    .discover-how-top-right {
        width: 100%;
    }

    .discover-how-top-left h2 {
        font-size: 24px;
    }

    .discover-how-top-right p {
        font-size: 16px;
    }

    /*! ye nhi ho rha  */
    .discover-how-top-right .features {
        display: flex;
        flex-direction: column !important;
        /*  features stack */
        gap: 30px;
    }

    .feature {
        width: 100%;
        gap: 10px;
    }

    .feature h3 {
        font-size: 20px;
    }

    .feature p {
        font-size: 15px;
    }

}





/* DISCOVER RESPONSIVENESS   <= 440px*/
@media (max-width: 440px) {

    .discover-how-outer-container {
        padding: 10px 30px;
    }

    .discover-how-top-left h2 {
        font-size: 24px;
    }

    .features {
        display: flex;
        flex-direction: column;
    }

    .feature h3 {
        font-size: 20px;
    }

    .feature p {
        font-size: 16px;
    }

}







/*+++++++ Support and Maintenance RESPONSIVENESS+++++++ */
/* Support RESPONSIVENESS  laptop <=1440px   */
@media (max-width: 1440px) {
    .support-outer {
        padding: 40px 80px;
        gap: 40px;
    }
}

/* Support RESPONSIVENESS  laptop <=1240px   */
@media (max-width: 1240px) {

    .support-outer {
        padding: 30px 60px;
        gap: 35px;
    }

    .support-heading h2 {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .support-heading p {
        font-size: 18px;
    }

    .support-mid {
        gap: 40px;
        padding: 0;
    }

    .support-mid p {
        font-size: 16px;
    }
}


/* Support RESPONSIVENESS TABLET <= 992px  */
@media (max-width: 992px) {

    .support-outer {
        padding: 20px 50px;
    }

    .support-heading h2 {
        font-size: 40px;
    }

    .support-heading p {
        font-size: 18px;
    }

    /* STACK CARDS */
    .support-mid {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .support-mid-left,
    .support-mid-mid,
    .support-mid-right {
        width: 100%;
        max-width: 500px;
    }

    .support-mid p {
        font-size: 20px;
    }

    .support-bottom-learnmore-btn,
    .support-bottom-contactus-btn {
        padding: 14px 10px;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}


/* Support RESPONSIVENESS MOBILE <= 768px */
@media (max-width: 768px) {

    .support-outer {
        padding: 20px 40px;
        gap: 40px;
    }

    .support-heading h2 {
        font-size: 32px;
        line-height: 120%;
    }

    .support-heading p {
        font-size: 20px;
    }

    .support-mid h2 {
        font-size: 30px;
    }

    .support-mid p {
        font-size: 18px;
    }

    /* BUTTONS STACK */
    .support-bottom {
        flex-direction: row;
        gap: 15px;
    }

    .support-bottom-learnmore-btn,
    .support-bottom-contactus-btn {
        /* width: 100%; */
        max-width: 180px;
    }

    .support-bottom a {
        font-size: 16px;
    }
}



/* Support RESPONSIVENESS SMALL MOBILE <= 440px */
@media (max-width: 440px) {

    .support-outer {
        padding: 10px 30px;
        gap: 40px;
    }

    .support-heading h2 {
        font-size: 26px;
    }

    .support-heading p {
        font-size: 14px;
    }
}












/* Effective and Reliable Products for Professionals RESPONSIVENESS */

/* EFFECTIVE RESPONSIVE LARGE <= 1440PX */
@media (max-width: 1440px) {

    .er-video-container video {
        min-height: 100vh;
    }

    .overlay-video{
        padding: 40px 80px;
    }

    /* .overlay-video .overlay-content-box {
        padding: 20px 80px;
        gap: 50px;
    } */

    .overlay-content-box .overlay-upper-half {
        gap: 40px;
    }

    .overlay-content-box .overlay-lower-half {
        /* gap: 30px; */

        /* background-color: aqua; */
    }

    .overlay-upper-half .overlay-upper-right {
        gap: 25px;
    }

    .overlay-upper-half .overlay-upper-left h2 {

        font-size: 38px;
        line-height: 48px;
    }

    .overlay-upper-half .overlay-upper-right p {
        font-size: 22px;
        line-height: 32px;
    }

    .overlay-lower-half>.lower-left>h2,
    .overlay-lower-half>.lower-mid>h2,
    .overlay-lower-half>.lower-right>h2 {
        font-size: 60px;
        line-height: 30px;
        padding-bottom: 20px;
    }

    .overlay-lower-half>.lower-left>p,
    .overlay-lower-half>.lower-mid>p,
    .overlay-lower-half>.lower-right>p {
        font-size: 26px;
        line-height: 30px;
    }

    .lower-left,
    .lower-mid,
    .lower-right {
        padding-top: 20px;
        padding-bottom: 20px;
    }


}




/* EFFECTIVE RESPONSIVE TABLET <= 1240PX*/
@media (max-width: 1240px) {

    .er-video-container video {
        min-height: 100vh;
    }

    .overlay-video{
        padding: 30px 60px;
    }

    .overlay-video .overlay-content-box {
        gap: 60px;
    }

    .overlay-content-box .overlay-upper-half {
        gap: 40px;
    }

    .overlay-upper-left,
    .overlay-upper-right {
        max-width: 100%;
    }

    .overlay-upper-half .overlay-upper-left h2 {
        font-size: 36px;
        line-height: 44px;

    }

    .overlay-upper-half .overlay-upper-right p {
        font-size: 20px;
    }

    /* buttons stack */
    .upper-right-btn-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    /* lower stats */
    .overlay-content-box .overlay-lower-half {
        gap: 40px;

        /* background-color: red; */
    }

    .lower-left,
    .lower-mid,
    .lower-right {
        width: 45%;
    }

    .overlay-lower-half>.lower-left>h2,
    .overlay-lower-half>.lower-mid>h2,
    .overlay-lower-half>.lower-right>h2 {
        font-size: 28px;
        line-height: 25px;
    }

    .overlay-lower-half>.lower-left>p,
    .overlay-lower-half>.lower-mid>p,
    .overlay-lower-half>.lower-right>p {
        font-size: 20px;
        line-height: 25px;
    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn {
        padding: 15px;
    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn a {
        font-size: 18px;
    }

    .upper-right-btn-wrapper .upper-right-contactus-btn {
        padding: 15px;
    }

    .upper-right-btn-wrapper .upper-right-contactus-btn a {
        font-size: 18px;
    }

    .lower-left,
    .lower-mid,
    .lower-right {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

/* EFFECTIVE RESPONSIVE MOBILE <= 992PX*/
@media (max-width: 992px) {
    .overlay-video{
        padding: 20px 50px;
    }
}



/* EFFECTIVE RESPONSIVE MOBILE <= 768PX*/
@media (max-width: 768px) {

    .er-video-container video {
        min-height: 100vh;
    }

    .overlay-video{
        padding: 20px 40px;
    }

    .overlay-video .overlay-content-box {
        gap: 60px;
    }

    .overlay-upper-half .overlay-upper-right {
        gap: 20px;
    }

    .overlay-content-box .overlay-upper-half {
        display: flex;
        flex-direction: column;

        gap: 25px;
    }

    .overlay-upper-half .overlay-upper-left h2 {
        font-size: 26px;

    }

    .overlay-upper-half .overlay-upper-right p {
        font-size: 20px;

    }



    .overlay-content-box .overlay-lower-half {
        gap: 40px;

        /* background-color: green; */
    }

    .lower-left,
    .lower-mid,
    .lower-right {
        /* width: 100%; */

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .overlay-lower-half>.lower-left>h2,
    .overlay-lower-half>.lower-mid>h2,
    .overlay-lower-half>.lower-right>h2 {
        font-size: 40px;
        line-height: 25px;
    }

    .overlay-lower-half>.lower-left>p,
    .overlay-lower-half>.lower-mid>p,
    .overlay-lower-half>.lower-right>p {
        font-size: 16px;
        line-height: 30px;
    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn {
        /* max-width: 100px; */
        padding: 15px;
    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn a {
        font-size: 15px;
    }

    .upper-right-btn-wrapper .upper-right-contactus-btn {
        /* max-width: 100px; */
        padding: 15px;

    }

    .upper-right-btn-wrapper .upper-right-contactus-btn a {
        font-size: 15px;
    }



}


/* EFFECTIVE RESPONSIVE SMALL MOBILE <= 440PX*/
@media (max-width: 440px) {


    .er-video-container video {
        min-height: 80vh;
    }

    .overlay-video{
        padding: 10px 30px;
    }

    .overlay-video .overlay-content-box {
        gap: 50px;
    }

    .overlay-upper-half .overlay-upper-right {
        gap: 10px;
    }

    .overlay-upper-half .overlay-upper-left h2 {
        font-size: 18px;
        line-height: 30px;
    }

    .overlay-upper-half .overlay-upper-right p {
        font-size: 16px;
        line-height: 26px;
    }

    /* ! YE NOT WORKING  */
    .overlay-content-box .overlay-lower-half {
        /* flex-direction: column !important; */

        /* background-color: tomato; */
        gap: 10px;

        flex-wrap: wrap;
    }

    .overlay-lower-half>.lower-left>h2,
    .overlay-lower-half>.lower-mid>h2,
    .overlay-lower-half>.lower-right>h2 {
        font-size: 18px;
        line-height: 20px;
        padding: 0%;
        padding-bottom: 10px;
    }

    .overlay-lower-half>.lower-left>p,
    .overlay-lower-half>.lower-mid>p,
    .overlay-lower-half>.lower-right>p {
        font-size: 14px;
        line-height: 18px;
    }

    .overlay-upper-right .upper-right-btn-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 10px;

        /* width: 100%; */
    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn {
        /* max-width: 100%; */
        /* max-height: auto; */
        /* width: 60%; */

        max-width: 150px;
        padding: 6px;

        gap: 10px;

    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn a {
        font-size: 14px;
    }

    .upper-right-btn-wrapper .upper-right-learnmore-btn img {
        width: 8px;
        height: 8px;
    }

    .upper-right-btn-wrapper .upper-right-contactus-btn {

        padding: 6px;
        max-width: 150px;
        gap: 10px;
    }

    .upper-right-btn-wrapper .upper-right-contactus-btn a {
        font-size: 14px;
    }

    .upper-right-btn-wrapper .upper-right-contactus-btn img {
        width: 8px;
        height: 8px;
    }
}
















/* Connect With  RESPONSIVENESS */
/* CONNECT WITH  LARGE <= 1440PX*/
@media (max-width: 1440px) {
    .connect-with-outer-container{
        padding: 40px 80px;
    }
}




/* CONNECT WITH  LARGE <= 1240PX*/
@media (max-width: 1240px) {

    .connect-with-outer-container {
        padding: 30px 60px;
    }

    .connect-with-inner-container {
        gap: 80px;
    }

    .card h3 {
        font-size: 36px;
        line-height: 44px;
    }

    .card p {
        font-size: 18px;
    }
}


/* CONNECT WITH  TABLET <= 992PX */

@media (max-width: 992px) {

    .connect-with-outer-container {
        padding: 20px 50px;
    }

    .connect-with-lower-half-container {
        gap: 30px;
    }

    .card {
        max-width: 350px;
    }

    .card h3 {
        font-size: 30px;
    }

    .card p {
        font-size: 16px;
    }
}


/* CONNECT WITH MOBILE <= 768PX */

@media (max-width: 768px) {

    .connect-with-outer-container {
        padding: 20px 40px;
    }

    .connect-with-inner-container {
        gap: 60px;
    }

    .connect-with-upper-half-heading h2 {
        font-size: 36px;
        line-height: 44px;
        text-align: center;
    }

    .connect-with-upper-half-heading p {
        font-size: 16px;
    }

    .connect-with-lower-half-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .card {
        max-width: 100%;
    }

    .card h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .card p {
        font-size: 16px;
    }
}


/* CONNECT WITH SMALL MOBILE <= 440PX */

@media (max-width: 440px) {

    .connect-with-outer-container {
        padding: 10px 30px;
    }

    .connect-with-inner-container {
        gap: 40px;
    }

    .connect-with-upper-half-heading h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .connect-with-upper-half-heading p {
        font-size: 14px;
    }

    .card {
        gap: 30px;
    }

    .card h3 {
        font-size: 24px;
    }

    .card p {
        font-size: 14px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon img {
        width: 50px;
        height: 50px;
    }
}



/* Footer RESPONSIVENESS */
/* FOOTER RESPONSIVENESS LARGE <= 1440PX */
@media (max-width: 1440px) {
    .footer-container{
        padding: 40px 80px;
    }
}

/* FOOTER RESPONSIVENESS LARGE <= 1240PX */
@media (max-width: 1240px) {

    .footer-container {
        padding: 30px 60px;
    }

    .footer-top {
        gap: 80px;
        justify-content: center;
    }

    .footer-top .footer-top-mid .footer-top-mid-content {
        flex-direction: column;
        gap: 10px;
    }

    .footer-top-mid-content h3 {
        font-size: 18px;
    }
}



/* FOOTER RESPONSIVENESS TABLET <= 992PX*/
@media (max-width: 992px) {

    .footer-container {
        padding: 20px 50px;
    }

    .footer-top {
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }

    .footer-top-left,
    .footer-top-mid,
    .footer-top-right {
        max-width: 100%;
    }

    .footer-top-mid .footer-top-mid-content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-bottom-right {
        justify-content: center;
        flex-wrap: wrap;
    }
}




/* FOOTER RESPONSIVENESS MOBILE <= 768PX*/
@media (max-width: 768px) {

    .footer-container {
        padding: 20px 40px;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }

    .footer-top-left p {
        font-size: 16px;
    }

    .footer-top-mid .footer-top-mid-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top-right-content {
        gap: 15px;
    }

    .footer-bottom .footer-bottom-left p {
        font-size: 16px;
    }

    .footer-bottom .footer-bottom-right a {
        font-size: 16px;
    }
}

/* FOOTER RESPONSIVENESS SMALL MOBILE<= 440PX*/
@media (max-width: 440px) {

    .footer-container {
        padding: 10px 30px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

    }

    .footer-top-left p {
        font-size: 14px;
        line-height: 22px;
    }

    .footer-top-mid-heading h3,
    .footer-top-right-heading h3 {
        font-size: 26px;
    }

    .footer-top-mid-content h3,
    .footer-top-right-content h2 {
        font-size: 16px;
    }

    .footer-bottom .footer-bottom-right {
        flex-direction: column;
        gap: 10px;
    }

    .footer-bottom .footer-bottom-right a {
        font-size: 14px;
    }
}